/*	styling the image slider (carousel)	*/
#slide{
	position: relative;
}
#slide img{
	width: 100%;
	height: 500px;
}
#slide-text{
	position: absolute;
	margin-top: -350px;
	width: 100%;
	text-align: center;
}

/* 	 gif section	*/
.fun{
	width: 33%;
}
.gif{
	width: 20vw;
	height: 30vh;
}

/*	meet the team	*/
.card img{
	height: 40vh;
}

/*	connect	and footer	 */
.social a{
	font-size: 32px;
	padding-inline: 20px;
}
#footer{
	background-color: rgb(179, 177, 174);
}

/*	responsive with css	 */
@media (width <= 992px){
	.fun{
		width: 70%;
	}
	.gif{
		width: 25%
	}
	.giff{
		display: none;
	}
}
@media screen and (max-width: 576px) {
	#slide-text h1{
		font-size: 16vw;
	}
	#slide-text h3{
		font-size: 6vw;
	}
	.display-4{
		font-size: 11vw;
	}
	.gif{
		width: 33.3vw;
		height: 14vh;
	}
	.giffer{
		display: none;
	}
	#footer p{
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 425px){
	.fun{
		width: 100%;
	}
	.res-btn{
		font-size: 16px;
		padding: 6px 12px;
	}
	.social a{
		font-size: 29px;
		padding-inline: 10px;
	}
	#footer p{
		margin-bottom: 2px;
	}
}